/* Apply custom font*/
*{
    font-family: 'Poppins', sans-serif;

}

/* Apply gradient background colour*/
body{
    background: linear-gradient(
        -135deg,
        #8052ec,
        #d161ff,
        #fa61ff

    )
}

/* Style two white containers*/
.container{
    height: 100px;
    width: 500px;
    padding: 5%;
    margin: 4% auto;
    opacity: 0.85;
    background-color: white;
    display: block;
    border-radius: 5px;
}

/* Creating submit button*/
.addBtn{
    padding: 5px;
    width: 25%;
    background: purple;
    color: white;
    float: right;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    
}

.addBtn:hover{
    background-color: darkblue;
    transition: 0.2s;
}

/* Styling task list section*/
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{
    cursor:pointer;
    position: relative;
    padding: 5px;
    margin: 5px;
}

ul li:hover{
    background: #eee;
}

/*Styling the close button*/

.closeButton{
    float: right;
}

.closeButton:hover{
    background-color: white;
}

/*Clear input field after submission*/
.header:after{
    content: "";
    display:table;
    clear: both;
}

ul li.checked{
    text-decoration: line-through;
    color: #fff;
    background: #888;
}


